In [3]:
import  pandas as pd

In [4]:
s1=pd.Series([1,2,3,4])

In [5]:
s1.max()

4

In [6]:
s1.std() # 标准差

1.2909944487358056

In [11]:
s2=pd.Series([1,2,3,4],index=["a","b","c","d"])

In [12]:
print(s2,type(s2))

a    1
b    2
c    3
d    4
dtype: int64 <class 'pandas.core.series.Series'>

In [10]:
s2["a"]

1

In [7]:
s2["D"] # 区分大小写

KeyError: 'D'

In [13]:
dict2={
    "name":["zjc",'yjw',"yaol","dasd"],
    "id":[1,2,3,4],
    "age":[18,19,20,21]
}

In [15]:
print(dict2,type(dict2))

{'name': ['zjc', 'yjw', 'yaol', 'dasd'], 'id': [1, 2, 3, 4], 'age': [18, 19, 20, 21]} <class 'dict'>

In [14]:
dict3={
    "name":["zjc",'yjw',"yaol","dasd"],
    'id':[1,2,3,4],
    "age":[18,19,20,21]
}

In [23]:
print(dict3,type(dict3))

{'name': ['zjc', 'yjw', 'yaol', 'dasd'], 'id': [1, 2, 3, 4], 'age': [18, 19, 20, 21]} <class 'dict'>

In [9]:
df1=pd.DataFrame(dict2)

NameError: name 'dict2' is not defined

In [26]:
print(df1,type(df1))

   name  id  age
0   zjc   1   18
1   yjw   2   19
2  yaol   3   20
3  dasd   4   21 <class 'pandas.core.frame.DataFrame'>

In [28]:
df1[['name','age']]  # 传进一个list得到  里面列名中的所有数据

   name  age
0   zjc   18
1   yjw   19
2  yaol   20
3  dasd   21

In [29]:
df1.head(10)

   name  id  age
0   zjc   1   18
1   yjw   2   19
2  yaol   3   20
3  dasd   4   21

In [16]:

df1['name'] # 得到单个列 直接  把列名传进去即可

NameError: name 'df1' is not defined

In [21]:
students_df= pd.read_csv("../data/students.txt",header=None,names=["id","name","age","gendar","clazz"])

In [62]:
score_df= pd.read_csv("../data/score.txt",header=None,names=["sid","cid","score"])

In [63]:
score_df.info() # 查看每一列的信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sid     6000 non-null   int64
 1   cid     6000 non-null   int64
 2   score   6000 non-null   int64
dtypes: int64(3)
memory usage: 140.8 KB

In [64]:
score_df.describe() # 查看数值型的列的一些统计信息

                sid           cid        score
count  6.000000e+03  6.000000e+03  6000.000000
mean   1.500101e+09  1.000004e+06    62.117333
std    2.886990e+02  2.589536e+00    38.808443
min    1.500100e+09  1.000001e+06     0.000000
25%    1.500100e+09  1.000002e+06    30.000000
50%    1.500101e+09  1.000004e+06    59.000000
75%    1.500101e+09  1.000006e+06    90.000000
max    1.500101e+09  1.000009e+06   149.000000

In [27]:
std_Bool=students_df['clazz']=='文科一班'

In [29]:
students_df[std_Bool].reset_index()

    index          id name  age gendar clazz
0      15  1500100016  潘访烟   23      女  文科一班
1      36  1500100037  顾向松   22      女  文科一班
2      54  1500100055  卫鸿熙   24      男  文科一班
3      68  1500100069  束采波   22      女  文科一班
4      81  1500100082  凌思菱   22      女  文科一班
..    ...         ...  ...  ...    ...   ...
67    950  1500100951  平彭泽   22      男  文科一班
68    956  1500100957  杜易云   21      女  文科一班
69    972  1500100973  钮幼南   23      女  文科一班
70    984  1500100985  申飞珍   21      女  文科一班
71    985  1500100986  左天曼   22      女  文科一班

[72 rows x 6 columns]

In [38]:
# 统计每个班级的人数  方式一
clazz_group_count=students_df.groupby('clazz').agg('count')[['name']].reset_index()

In [39]:
clazz_group_count.rename(columns={'name':"cnt"})

   clazz  cnt
0   文科一班   72
1   文科三班   94
2   文科二班   87
3   文科五班   84
4   文科六班  104
5   文科四班   81
6   理科一班   78
7   理科三班   68
8   理科二班   79
9   理科五班   70
10  理科六班   92
11  理科四班   91

In [47]:
# 统计每个班级的人数  方式2
clazz_group_count2=students_df.groupby("clazz")['id'].count().reset_index()

In [52]:
clazz_group_count2.rename(columns={"id":"cnt"},inplace=True)

In [57]:
clazz_group_count2.sort_values('cnt',ascending=False).reset_index().drop("index",axis=1)

   clazz  cnt
0   文科六班  104
1   文科三班   94
2   理科六班   92
3   理科四班   91
4   文科二班   87
5   文科五班   84
6   文科四班   81
7   理科二班   79
8   理科一班   78
9   文科一班   72
10  理科五班   70
11  理科三班   68

In [72]:
# 关联
score_df.merge(students_df,how="inner",left_on="sid",right_on="id").drop("sid",axis=1)

          cid  score          id name  age gendar clazz
0     1000001     98  1500100001  施笑槐   22      女  文科六班
1     1000002      5  1500100001  施笑槐   22      女  文科六班
2     1000003    137  1500100001  施笑槐   22      女  文科六班
3     1000004     29  1500100001  施笑槐   22      女  文科六班
4     1000005     85  1500100001  施笑槐   22      女  文科六班
...       ...    ...         ...  ...  ...    ...   ...
5995  1000002     78  1500101000  符瑞渊   23      男  理科六班
5996  1000003     81  1500101000  符瑞渊   23      男  理科六班
5997  1000007      5  1500101000  符瑞渊   23      男  理科六班
5998  1000008     87  1500101000  符瑞渊   23      男  理科六班
5999  1000009     28  1500101000  符瑞渊   23      男  理科六班

[6000 rows x 7 columns]

In [78]:
# 统计每个学生的总分
score_sum=score_df.groupby("sid")["score"].sum()

In [83]:
rs=score_sum.reset_index()

In [84]:
rs.rename(columns={"score":"score_sum"})

            sid  score_sum
0    1500100001        406
1    1500100002        440
2    1500100003        359
3    1500100004        421
4    1500100005        395
..          ...        ...
995  1500100996        355
996  1500100997        293
997  1500100998        398
998  1500100999        371
999  1500101000        379

[1000 rows x 2 columns]